.User {
    max-width: 500px;
    margin: 10px auto;
}

.User .orange {
    background-color: #FF8352;
    color: white;
    font-weight: 600;
    padding: 7px;
    border-radius: 5px;
}

.User .blue {
    background-color: #00e1df;
    color: white;
    font-weight: 600;
    padding: 7px;
    border-radius: 5px;
    margin-left: 3%;
}