.orderThis {
    color: #fff;
    background-color: #00E1DF !important;
    border-color: #00E1DF !important;
  }
  
  .orderThis:hover {
    background-color: #00c1e9 !important;
    border-color: #00c1e9 !important;
  }

  .addCart {
    color: #fff;
    background-color: #00c3af !important;
    border-color: #00c3af !important;
  }
  
  .addCart:hover {
    background-color: #00e6cf !important;
    border-color: #00e6cf !important;
  }

  .exitBtn {
    color: #fff;
    background-color: #afb4b4 !important;
    border-color: #afb4b4 !important;
  }
  
  .exitBtn:hover {
    background-color: #9b9e9e !important;
    border-color: #9b9e9e !important;
  }

  .ProductModalImage{
    display: block;
    max-width: 95%;
    margin: auto;
    text-align: center;
    max-height: 230px;
  }

  .ProductModalBody{
    display: flex;
  }


  .ProductModalBodyDescription{
    margin-top: 1rem;
    width: 75%;
    padding-right: 20px;
  }

  .ProductModalBodyCost{
    margin-top: 1rem;
  }

