.Categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Categories .Card {
    width: 100%;
    max-width: 95%;
    height: 70vh;
    border: solid 1px #DEE500;
    padding: 20px;
}

.Categories .Card .Table {
    max-height: 60vh;
    overflow-y: auto;
}

.Categories .blue {
    color: #00E1DF;
    cursor: pointer
}

.Categories .buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

.Categories .orangeBtn {
    color: white !important;
    border: solid 1px #FF8352 !important;
    background-color: #FF8352 !important;
    margin-bottom: 1%;
}

.Categories .orangeBtn:hover {
    color: white !important;
    border: solid 1px #ff9f7a !important;
    background-color: #ff9f7a !important;
    margin-bottom: 1%;
}

.Categories .big {
    font-weight: 600;
    font-size: 20px;
    display: inline;
}