.check {
    cursor: pointer;
    display:inline-block;
    margin-right: 10px;
    width: 22px;
    height:22px;
    /*transform: rotate(45deg);*/
  }
  
  .check.doneMark {
    opacity: .4;
  }
  
  .green {
    color: #00C3AF;
  }
  .blue {
    color: #00E1DF;
}