.Filter {
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.Filter .orangeBtn {
  color: white !important;
  border: solid 1px #FF8352 !important;
  background-color: #FF8352 !important;
}

.Filter label {
  margin-right: 5px;
  font-weight: lighter;
}

.Filter .orange {
  color: #FF8352;
  font-weight: 700;
}