.Category {
    max-width: 500px;
    margin: 10px auto;
    border: solid 1px #DEE500 !important;
}

.Category .orange {
    color: #FF8352;
    font-weight: 600;
}
.Category .orange:hover {
    color:  #ff9f7a;
  }