.OrderHistory {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.OrderHistory code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.OrderHistory .card {
  width: 100%;
  max-width: 70%;
  height: fit-content;
  padding: 20px;
  border: solid 1px #DEE500 !important;
}