.OrderHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.OrderHistory .Card {
  width: 100%;
  max-width: 95%;
  height: fit-content;
  padding: 20px;
  border: solid 1px #DEE500 !important;
  margin: 0 auto;
}

.OrderHistory .Card .Table {
  max-height: 60vh;
  overflow-y: auto;
}

.orangeBtn {
  color: white !important;
  border: solid 1px #FF8352 !important;
  background-color: #FF8352 !important;
  width: 95%;
  text-align: center;
  margin: 0 auto 15px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  font-weight: bold !important;
}

.orangeBtn:hover {
  color: white !important;
  border: solid 1px #ff8e61 !important;
  background-color: #ff8e61 !important;
  width: 95%;
  text-align: center;
  margin: 0 auto 15px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
  font-weight: bold !important;
}

@media screen and (max-width:600px) {
  .searchPanel {
    display: none
  }
}

@media screen and (max-width: 600px) {
  .searchPanel.responsive {
    position: relative;
  }
  .searchPanel.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .searchPanel.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}