.Signup {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ErrorMessage {
    color: red
}

.LoginBackground {
    min-width: 100%;
    min-height: 100%;
    padding-top: 7%;
    margin: 0;
    border: 0;
    position: fixed;
    top: 10px;
    background-size: cover;
    background-image: url('../../../assets/images/bg-login.jpg')
}