.Signup {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ErrorMessage {
    color: red
}

.LoginBackground {
    width: 100% !important;
   height: 750px;
   padding-top: 7% !important;
   margin: 0;
   border:0;
   position: fixed;
   top: 10px;
 }