.Check {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.Check:active {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
} 

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  25% { opacity: .5; }
  50% { opacity: 0.0; }
  75% { opacity: .5; }
  100% { opacity: 1.0; }
}

.Green {
  color: #00C3AF;
  
}

.Blue {
  color: #007BFF;
}

.Yellow {
  color: #FFC900;
}

.GreenBlue{
  color: #b65dd6;
}

.Grey{
  color: #bebebe;
  width: 22px;
  height: 22px;
  text-align: center;
}

.Pink{
  color: #FF458F;
 
}
