.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Products .Card {
    width: 100%;
    max-width: 70%;
    height: 70vh;
    border: solid 1px #DEE500;
    padding: 20px;
}

.Products .Card .Table {
    max-height: 60vh;
    overflow-y: auto;
}