.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Products .Card {
    width: 100%;
    max-width: 95%;
    padding: 20px;
}


.Products .blue {
    color: #00E1DF;
    cursor: pointer
}

.Products .buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

.Products .orangeBtn {
    color: white !important;
    border: solid 1px #FF8352 !important;
    background-color: #FF8352 !important;
    margin-bottom: 1%;
}

.Products .orangeBtn:hover {
    color: white !important;
    border: solid 1px #ff9f7a !important;
    background-color: #ff9f7a !important;
    margin-bottom: 1%;
}

.Products .big {
    font-weight: 600;
    font-size: 20px;
    display: inline;
}

.ProductImage{
    max-height: 130px;
    max-width: 200px;
}