.ordercard {
  margin: 10px auto 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 15px;
}

.ordercard h4 {
  display: inline;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  margin-bottom: 15px;
}

.actionButton {
  color: #fff;
  background-color: #00c3af !important;
  border-color: #00c3af !important;
}

.actionButton:hover {
  background-color: #00e6cf !important;
  border-color: #00e6cf !important;
}

.orderFooter {
  width: 100%;
}

.secondaryButton {
  color: #fff;
  background-color: #bebebe !important;
  border-color: #bebebe !important;
}
.secondaryButton:hover {
  color: #fff;
  background-color: #cecece !important;
  border-color: #cecece !important;
}

.ordercard .nameOrange {
  color: #ff8352;
}

.ordercard .orangeBackground {
  background-color: #ff8352;

}