.Button{
   background-color: #00E1DF !important;
   border-color: #00E1DF !important;
}

.ProductCard {
   width: "50%";
   height: "20%";
   max-height: 100px;
   min-height: 100px;
   max-width: 90%;
   background-color: blueviolet;
}

.ProductCardBody{
   height: 194px;
}

.ProductCardHeader{
   height: 94px;
   display: flex;
   
}

.ProductCardHeaderText{
   padding-bottom: 5px;
   margin: auto;
}