.Users {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Users .Card {
    width: 100%;
    max-width: 70%;
    height: fit-content;
    border: solid 1px #DEE500;
    padding: 20px;
}

.Users .Card .Table {
    max-height: 60vh;
    overflow-y: auto;
}