.Users {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Users .Card {
    width: 100%;
    max-width: 70%;
    height: fit-content;
    border: solid 1px #DEE500;
    padding: 20px;
}

.Users .Card .Table {
    max-height: 60vh;
    overflow-y: auto;
}


.Users .blue {
    color: #00E1DF;
    cursor:pointer
  }

  .Users .buttonContainer {
      display:flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 15px;
  }

  .Users .orangeBtn {
    color: white !important;
    border: solid 1px #FF8352 !important;
    background-color: #FF8352 !important;
    margin-bottom: 1%;
  }
  
  .Users .orangeBtn:hover {
    color: white !important;
    border: solid 1px #ff9f7a !important;
    background-color: #ff9f7a !important;
    margin-bottom: 1%;
  }

 .Users .big {
      font-weight:600;
      font-size: 20px;
      display: inline;
  }